:root {
    --theme-color: #3ada3a;
    --custom-font: '';
    --clock-font: '';
    --clock-font-size: 4rem;
    --margin-bottom: 0;
}

body,
#root {
    font-family: var(--custom-font), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.ant-col, .ant-row {
    font-family: var(--custom-font), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
}

.theme-color {
    color: var(--theme-color);
}

.header {
    position: relative;
    flex: 1;

    width: 100%;
    padding: 1rem 1.5rem;
    text-align: center;
    background: #1c1c1c;

    .datetime {
        font-family: var(--clock-font), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: var(--clock-font-size);
        letter-spacing: 0.2rem;
    }
}

.main {

    background: #1f1f1f;
    padding: 1.5rem;

    .usage-tips {
        text-align: center;
    }

    .ant-row {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: var(--margin-bottom);
        }
    }

    .card {
        background: #2B2B2B;
        border-radius: 0.7rem;

        .card-header {
            display: flex;
            padding: 1rem;
            border-bottom: 1px solid #3C3C3C;
            align-items: center;
            line-height: 2rem;
            font-size: 2rem;

            .card-icon {
                margin-right: 0.8rem;

                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }

            .card-title {
                color: var(--theme-color);
            }
        }

        .card-body {
            padding: 0.5rem 1rem;
            height: 10rem;

            .big-item {
                text-align: center;
                font-size: 4rem;
            }

            .small-item {
                position: relative;
                font-size: 1rem;
                height: 2rem;
                line-height: 2rem;
                border-bottom: 1px solid #3c3c3c;
                margin-bottom: 0.5rem;

                &:last-child {
                    margin-bottom: 0;
                }

                &:before {
                    display: block;
                    content: '';
                    width: 0.1rem;
                    height: 70%;
                    background: var(--theme-color);

                    position: absolute;
                    top: 15%;
                }

                > span:first-child {
                    margin-left: 0.8rem;
                }

                > span:last-child {
                    float: right;
                }
            }
        }

        &.card-chip {
            .card-body {
                display: flex;
                align-items: center;

                > div {
                    width: 33.33%;
                    border-right: 1px solid #3C3C3C;
                    height: 100% !important;

                    &:first-child {
                        padding-right: 1rem;
                    }

                    &:not(:first-child) {
                        display: grid;
                        place-items: center;
                    }

                    &:last-child {
                        padding-left: 1rem;
                        border: none;

                    }
                }


            }
        }

        &.card-network, &.card-audio {
            .card-body {
                position: relative;
                display: flex;
                flex-direction: column;

                .music-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    > svg {
                        width: 5rem;
                        height: 5rem;
                    }
                }

                .media-cover {
                    position: absolute;
                    top: calc(50% - 1rem);
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 50%;
                    max-height: calc(100% - 4rem);
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    .pause-icon {
                        display: none;

                        svg {
                            width: 3rem;
                            height: 3rem;
                        }
                    }

                    &.media-cover--pause {
                        img {
                            opacity: 0.6;
                        }

                        .pause-icon {
                            display: block;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                .media-name {
                    position: absolute;
                    display: inline-block;
                    bottom: 0.8rem;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 80%;
                    text-align: center;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    font-size: 1.2rem;
                }
            }
        }
    }
}
